.Preis{
    color: whitesmoke;
    font-size:25px
}

.Karte{
    width:450px;
    display: inline-block;
}

.Bild{
    height:500px;
    object-fit: cover;
    color: red;
}

.dada{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
  }
  
  .body{
      background-color:black;
  }

  .text{color: red
}
